.cor-1-h1 {
  color: #D0C5FF;
}

.cor-2-h1 {
  color: #202A43;
}

.cor-1-h2 {
  color: #FFFEFF;
}

.cor-1-span {
  color: #fff;
}

.cor-2-span {
  color: #8D80FF;
}

.cor-3-span {
  color: #363647;
}

.cor-4-span {
  color: #979996;
}

.cor-1-p {
  color: #C2BDFF;
}

.cor-1-li {
  color: #FF5555;
}

.cor-2-li {
  color: #FFB21E;
}

.cor-3-li {
  color: #00BB8F;
}

.cor-4-li {
  color: #1125D6;
}

.cor-1-button {
  color: #F7FCFF;
}