.font-1-h1 {
  font: 700 32px 'Hanken Grotesk', sans-serif;
}

.font-1-h2 {
  font: 700 32px 'Hanken Grotesk', sans-serif;
}

.font-1-p {
  font: 400 20px 'Hanken Grotesk', sans-serif;
}

.font-1-span {
  font: 700 72px 'Hanken Grotesk', sans-serif;
}

.font-2-span {
  font: 600 16px 'Hanken Grotesk', sans-serif;
}

.font-1-button {
  font: 700 16px 'Hanken Grotesk', sans-serif;
}

@media (max-width: 750px) {
  .font-1-h1 {
    font: 700 16px 'Hanken Grotesk', sans-serif;
  }
  .font-1-h2 {
    font: 700 20px 'Hanken Grotesk', sans-serif;
  }
  .font-1-p {
    font: 400 15px 'Hanken Grotesk', sans-serif;
  }
  .font-1-span {
    font: 700 48px 'Hanken Grotesk', sans-serif;
  }
  .font-2-span {
    font: 600 14px 'Hanken Grotesk', sans-serif;
  }
  .font-1-button {
    font: 700 16px 'Hanken Grotesk', sans-serif;
  }
}